<footer class="footer" style="text-align: center">
    <div class="container">
        <h4>Created by : <a href="https://github.com/ahmadhasankhan">Ahmad Hassan Khan</a> - Copyright 2015</h4>
    </div>
</footer>