<div class="container">
    <br>

    <div class="row">
        <br>

        <h1 class="centered" style="text-align: center">WE DO COOL STUFF</h1>
        <hr>
        <br>
        <br>
    </div>
    <!-- /row -->
    <div class="container">
        <div class="row" style="text-align: center">
            <%= render 'home/recharge_wallet' %>
        </div>
    </div>
    <!-- /row -->
</div><!-- /container -->
<br>
<hr>
<br>
<br>


